<!-- header -->
<div id="header">
    <div id="" class="container">
        <h1 id="logo"><a href="../main/main.html">평산마을 사진관</a></h1>
        <button type="button" class="menu_toggle">
            <span></span>
            <span></span>
            <span></span>
            <span class="sound_only">메뉴 열기</span>
        </button>
        <div class="hd_menu">
            <ul id="nav">
                <li><a href="../main/main.html" class="<?if($menu_focus=="1"){?>active<?}?>">홈</a></li>
                <li><a href="../about/about.html" class="<?if($menu_focus=="2"){?>active<?}?>">사진관 소개</a></li>
                <li><a href="../inquiry/inquiry.html" class="<?if($menu_focus=="3"){?>active<?}?>">문의하기</a></li>
            </ul>
        </div>
    </div>
</div>  
<!-- //header -->
