@charset "utf-8";

#layout{height:100%;background-color:#fff;min-width:1250px;}
#header{background-color:#fff;height:80px;position:fixed;left:0;width:100%;top:0;z-index:2;}
#header #logo{float:left;margin:25px 0;position: relative;z-index:2500;}
#header #logo a{display:block;height:30px;width:129px;text-indent:-999em;overflow:hidden;background-repeat: no-repeat;background-position:center center;background-size:contain;background-image: url('../images/logo.png');}
#header .hd_menu{float:right;}
#nav li{float:left;}
#nav li + li{margin-left:80px;position:relative;}
#nav li + li:before{content: "";position: absolute;top:34px;left:-40px;width:1px;height:12px;background-color: #d7d7d7;}
#nav li a{display:block;color:#000;font-size:1.8rem;padding:26px 7px;height:80px;transition:all 0.2s;position: relative;font-weight: 500;overflow:hidden;}

#footer{background-color:#fff;position:relative;z-index:2;border-top:1px solid #e2e2e2;padding:50px 0 40px;}
#footer .ft_cnt{color:#888;font-size:15px;}
#footer .ft_cnt .ft_cp{float:left;}
#footer .ft_cnt .ft_cp span{display:block;}
#footer .ft_cnt .ft_cp span + span{margin-top:10px;}
#footer .ft_cnt .ft_cp span.cp{font-weight:600;}
#footer .ft_cnt .ft_info{float:left;margin-left:150px;}
#footer .ft_cnt .ft_info span{display:block;}
#footer .ft_cnt .ft_info span + span{margin-top:10px;}
#footer .ft_cnt .ft_links{float:right;}
#footer .ft_cnt .ft_links li{}
#footer .ft_cnt .ft_links li + li{margin-top:12px;}
#footer .ft_cnt .ft_links li a{display:block;color:#444;font-size:17px;}
#footer .ft_cnt .ft_links li a:hover{text-decoration:underline;}
#footer .ft_copy{margin-top:55px;padding-top:38px;border-top:1px solid #e2e2e2;color:#888;font-size:13px;}
#footer .ft_copy strong{color:#2eabe3}

.main_content{height:100%;}
.panel {width: 100%;}

section{position:relative;z-index:3;background-color:#ddd;}
section.secwrap1{position:fixed;left:0;top:80px;width:100%;height:100vh;z-index:1;}
.sec1_height{height:calc(100vh - 80px);margin-top:80px;}
section.secwrap2{}
section.secwrap3{}
section.secwrap4{height:100%;background-color:#ccc;}

#sec1{height:calc(100vh - 80px);background-color:#2eabe3;}
.section1{width:1200px;margin:0 auto;top:50%;display:flex;left:50%;top:50%;position:absolute;z-index:5;transform:translate(-50%,-50%);align-items:center;}
.section1 .left{flex:1 1 auto;text-align:left;}
.section1 .right{width:388px;height:692px;background-repeat: no-repeat;background-position:center center;background-size:contain;background-image: url('../images/sec1_phone.png');}
.section1 .sec_title{}
.section1 .sec_store{margin-top:40px;}
.section1 .sec_store .item{display:inline-block;border-radius:8px;overflow:hidden;margin-right:20px;}
.section1 .sec_store .item a{}
.section1 .sec_store .item img{width:100%;}
.main_video{position:absolute;height:calc(100vh - 80px);width:100%;z-index:1;}
.main_video video{position:absolute;z-index:0;right: 0;bottom: 0;top:0;width: 100%;height: 100%;background-size: 100% 100%;background-color: black;
background-image:url('../images/main_video.jpg');background-repeat:no-repeat;background-position: center center;background-size: cover;object-fit: cover; /*cover video background */}

#sec2{background-color:#2eabe3;padding:calc(48vh - 60px) 0;text-align:center;}
#sec2 .sec_title{text-align:center;color:#fff;font-size:80px;position:sticky;top:calc(50vh - 60px);font-weight:500;letter-spacing:-4px;
    display: inline-block;
    --headline-gradient-direction: 90deg;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.1em;

    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%, rgba(255,204,0,1) 40%, rgba(3,121,174,1) 48%,rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);;
    background-repeat: no-repeat;
    background-size: 240% 100%,100% 100%;
    background-position: 100% 50%,50% 50%;}

#sec2 .trigger{margin-bottom:1300px;width: 100%; height: 10px;}

#sec3{height:5400px;padding-top:500px;background-color:#222;background-attachment:fixed;background-image:url('../images/sec3_bg.jpg');background-repeat:no-repeat;background-position: center center;background-size: cover;
text-align:center;color:#fff;}
#sec3 .txt {  position: sticky;  top: 40vh;  opacity: 0;  font-size: 68px;  width: 100%;   line-height:1.2; text-align: center;letter-spacing:-2px;}
#sec3 .trigger {  width: 100%;  height: 10px;  margin-bottom: 1365px;}

#sec4{background-color:#f3f9fb;}
.section4{width:1100px;padding-top:20vh;padding-bottom:5vh;display:flex;align-items:center;margin:0 auto;justify-content:space-between;}
.section4 .left{}
.section4 .right{width:460px;height:651px;background-image:url('../images/sec4_bg.jpg');background-repeat:no-repeat;background-position: right 0 center;}
.section4 .title{color:#222222;font-size:55px;font-weight:500;line-height:1.2;letter-spacing:-2px;}
.section4 p{color:#222;font-size:19px;margin-top:15px;}
.section4 span{display:block;color:#666666;font-size:15px;margin-top:15px;}

#sec5{background-color:#f3f9fb;}
.section5{width:1100px;height:100vh;display:flex;align-items:center;margin:0 auto;justify-content:space-between;}
.section5 .left{width:460px;height:640px;background-image:url('../images/sec5_bg.jpg');background-repeat:no-repeat;background-position: left 0 center;}
.section5 .title{color:#222222;font-size:55px;font-weight:500;line-height:1.2;letter-spacing:-2px;}
.section5 p{color:#222;font-size:19px;margin-top:15px;}
.section5 span{display:block;color:#666666;font-size:15px;margin-top:15px;}

#sec6{background-color:#ccc;position:absolute;top:0;height:100vh;
background-image:url('../images/sec6_bg.jpg');background-repeat:no-repeat;background-size:cover;background-position: center center;}
.section6{width:1100px;height:100%;display:flex;align-items:center;margin:0 auto;}
.section6 .title{color:#fff;font-size:55px;font-weight:500;line-height:1.2;letter-spacing:-2px;}
.section6 p{color:#fff;font-size:19px;margin-top:15px;}
.section6 span{display:block;color:#fff;font-size:15px;margin-top:15px;}

#sec7{background-color:#fff;position:relative;z-index:10;padding-bottom:220px;}
.section7{position:sticky;top:5vh;}
.section7 .title{color:#222;font-size:55px;font-weight:500;line-height:1.2;letter-spacing:-2px;width:1200px;margin:0 auto 100px;opacity:0;position:relative;top:200px;z-index:100;}
.sec7_cnt{max-width:1200px;margin:0 auto;}
.sec7_cnt .sec7_inner{white-space:nowrap;}
.sec7_cnt .box{display:inline-block;background-color:#f4f6f8;width:930px;border-radius:25px;margin-right:31px;height:calc(100vh - 500px);position:relative;}
.sec7_cnt .txt{height:100%;display:flex;flex-direction:column;justify-content:center;text-align:left;padding:0 50px 0 520px;position:relative;}
.sec7_cnt .box + .box{}
.sec7_cnt .box .tit{display:block;color:#222;font-size:38px;font-weight:500;line-height:1.2;}
.sec7_cnt .box .cnt{display:block;color:#444;font-size:16px;margin-top:25px;}
.sec7_cnt .box:before{content:"";position:absolute;left:80px;top:50%;width:320px;height:540px;transform:translate(0,-50%);background-repeat:no-repeat;background-size:contain;background-position: center center;
content:"";position:absolute;left:80px;top:50%;}
.sec7_cnt .box.box1:before{width:295px;height:580px;
background-image:url('../images/sec7_box1.png');}
.sec7_cnt .box.box2:before{width:320px;height:513px;transform:translate(0,0);top:auto;bottom:0;
background-image:url('../images/sec7_box2.png');}
.sec7_cnt .box.box3:before{width:295px;height:580px;
background-image:url('../images/sec7_box3.png');}

#sec7 .trigger1{margin-bottom:150px;width: 100%; height: 10px;}
#sec7 .trigger2{margin-bottom:2400px;width: 100%; height: 10px;position:relative;top:-250px;}

#sec8{background-color:#ccc;height:100vh;position:relative;z-index:20;
background-image:url('../images/sec8_bg.jpg');background-repeat:no-repeat;background-size:cover;background-position: center center;}
.section8{width:1100px;height:100%;display:flex;align-items:center;margin:0 auto;}
.section8 .title{color:#fff;font-size:60px;font-weight:500;line-height:1.2;letter-spacing:-2px;}
.section8 p{color:#fff;font-size:19px;margin-top:15px;}
.section8 span{display:block;color:#fff;font-size:15px;margin-top:25px;}

#sec9{background-color:#f7f7f7;position:relative;z-index:20;}
#sec9:before{content:"";display:block;height:695px;
background-image:url('../images/sec9_bg.jpg');background-repeat:no-repeat;background-size:cover;background-position: center center;}
.section9{padding:50px 0 80px;width:1200px;margin:0 auto;}
.section9 .title{color:#222;font-size:48px;font-weight:500;line-height:1.2;letter-spacing:-2px;}
.section9 p{color:#666;font-size:17px;margin-top:20px;}



<section class="secwrap9" id="sec9">
			<div class="section9">
				<div class="cnt">
					<div class="title">여행의 본질</div>
					<p>그동안 우리는 여행할 때 항상 짐이 걸림돌처럼 느껴지곤 했습니다.<br/>
					다니다는 여행자의 행복과 편의를 위해 언어와 캐리어 같은 여행의 불편함을 해결하고자 합니다.<br/>
					여행의 순간순간과 여행자의 시간은 소중합니다.
					</p>
				</div>
			</div>
		</section>
